body{
    background-color: #240a4d;
    height: 100%;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;

}

main{
  display:flex;
  gap:20px;
}

h1 {
   text-align: center;  /* Alinhamento do texto */
   font-size: 36px; /* Tamanho do texto */
   color: #ffffff;
}

h2{
  color:#051626;
  margin-bottom: 20px;
  font-size:24px;
}

section{
  background: #ffffff;
  width: 100%;
  border-radius: 8px;

}