*{
  font-family: poppins, sans-serif;
  font-size: 101%;
}

body{
  margin: 0px;
  background: linear-gradient(white, black );
}

h1{
  text-align: center;
  font-size: 210%;
   transition: transform 0.3s ease;
}

h2{
  text-align: center;
}

.Normal{
  
  display: flex;
  justify-content: center;
}

h3{
  text-align: center;
}

.extra{
 text-align: center;
}

.Normal:hover{
  text-decoration: none;
  cursor: pointer;
  font-size: 120%;
  
}

a:visited{
    text-decoration: none;
}

#bda{
    color:rgb(227, 173, 47);
    text-decoration: none;
}

#bda:hover{
    color: rgb(185, 173, 173 );
}

a{
  height: 50%;
  text-decoration: none;
}

h1:hover{
 transform: translateY(-10px);
}

h4:hover{
  color:rgb(228, 194, 0);
  cursor: pointer;
  font-size: 130%;
}

h3:hover{
  color: rgb(228, 194, 0);
}

#site{
  text-align: center;
  font-size: 10px;}

section{
  justify-content: space-between;
  margin: auto;
  background-color: rgb(255, 255, 255);
  width: 60%;
  border-radius: 10%;
  transform: translateY(10px);
  display: flexbox;
}

#img1{
  width: 50px;
}

#img2{
  width: 50px;
 transform: translateX(680px);
}

#bdn {
  color: rgb(59, 36, 162);
    text-decoration: none;
  
}

#bdn:hover {
  color: rgb(185, 173, 173);
}

#bdar:hover{
  color: rgb(185, 173, 173);
}

#bdar{
  color: rgb(239, 239, 86);
    text-decoration: none;
}

#bdl{
  color: rgb(129, 12, 12);
    text-decoration: none;
}

#bdm{
  color: rgb(12, 129, 44);
    text-decoration: none;
}

.Extras{
  text-decoration: none;
}

#bda-aniversario{
  color: rgb(0, 0, 0);
}

#regional{
  color: rgb(0, 0, 0);
} 

#fms{
  color: black;
  text-decoration: none;
}

.mc{
   display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center;     /* Centraliza verticalmente */
}

#mcs{
  font-size: 20px;
 padding: 2px;
  text-align:center;
  width: 100px;
  height: 30px;
  background-color: black;
  color: rgb(255, 255, 255);
  border-radius: 8%;
  margin-left:0px;
}
  

#mcs:hover{
  color:rgb(0, 0, 0);
  background-color: white;
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}

#ranking{
  padding: 2px;
  text-align:center;
  width: 150px;
  height: 30px;
  background-color: black;
  color: rgb(255, 255, 255);
  border-radius: 8%;
  margin-left:170px;
}

#ranking:hover{
  color: rgb(0, 0, 0);
  background-color: white;
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}

#nacional{
  color:black;
}

#noticia{
  padding: 2px;
  text-align:center;
  width: 120px;
  height: 30px;
  background-color: black;
  color: rgb(255, 255, 255);
  border-radius: 8%;
  margin-right:170px;
}

#noticia:hover{
  color: rgb(0, 0, 0);
  background-color: white;
  transform: translateY(-10px);
  transition: transform 0.3s ease;
}
